doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js")
    script(src="/javascripts/upload.js")
  body
    ul(class='nav nav-pills')
      each val, key in {'Home': '/', 'Churches': '/org', 'Speakers': '/speakers', 'Messages':'/messages', 'Categories': '/cat', 'Plans': '/plans', 'Series': '/series', 'Clips':'/clips'}
        li
          a(href=val, title=key)= key
    block content